# BTT Smart Filament Sensor - split from user_override.cfg

# BTT Smart Filament Sensor - restored after reset

[filament_switch_sensor filament_sensor]
switch_pin: ^PC15
pause_on_runout: true
runout_gcode:
  {% if printer.extruder.can_extrude|lower == 'true' %}
  M117 Filament runout detected! Unloading...
  G91
  G0 E-30 F600
  G90
  {% endif %}

[filament_motion_sensor encoder_sensor]
switch_pin: ^!PA7
detection_length: 7
extruder: extruder
pause_on_runout: true
runout_gcode:
  M117 Filament motion error detected! Pausing...
  RESPOND TYPE=error MSG="Filament jam / motion error detected"

[gcode_macro TEST_FILAMENT_SENSOR]
gcode:
  {% set s = printer['filament_switch_sensor filament_sensor'].filament_detected %}
  RESPOND TYPE=command MSG="filament_sensor detected = {s}"

[gcode_macro TEST_ENCODER_SENSOR]
gcode:
  RESPOND TYPE=command MSG="encoder_sensor loaded. To test it, extrude filament and block/stop filament movement."

[gcode_macro TEST_FILAMENT_ALL]
gcode:
  TEST_FILAMENT_SENSOR
  TEST_ENCODER_SENSOR
