[gcode_macro _LINE_PURGE]
description: Creality-style left purge double line
gcode:
    SAVE_GCODE_STATE NAME=purge_state

    G90
    M83
    G92 E0

    G1 Z2.0 F1200
    G1 X0.1 Y20 Z0.3 F6000.0
    G1 X0.1 Y180.0 Z0.3 F3000.0 E10.0
    G1 X0.4 Y180.0 Z0.3 F3000.0
    G1 X0.4 Y20.0 Z0.3 F3000.0 E10.0

    ; relieve pressure before leaving purge area
    G1 E-0.8 F2400
    G1 Y10.0 F3000.0

    G1 Z2.0 F600.0
    G1 Z0.3 F600.0
    G1 Z2.0 F600.0

    M82
    G92 E0
    G1 F12000
    G21

    RESTORE_GCODE_STATE NAME=purge_state
