[gcode_macro _LINE_PURGE]
description: Left outside purge line
gcode:
    SAVE_GCODE_STATE NAME=purge_state

    G90
    M83
    G92 E0

    G1 Z2 F3000
    G1 X3 Y25 F12000
    G1 Z0.30 F600

    ; prime start
    G1 Y45 E1.0 F500

    ; main purge
    G1 Y180 E9.0 F420

    ; short tail
    G1 Y220 E0.4 F900

    ; retract before dry drag
    G1 E-1.2 F2400

    ; dry drag to cut tail
    G1 Y250 F1800

    G1 Z2 F3000
    G92 E0

    RESTORE_GCODE_STATE NAME=purge_state
